/* Cart styles */
.cart {
    border: var(--thin-border) solid var(--light-grey-color);
    border-radius: var(--medium-radius);
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    width: 95%;
    margin: 0 auto;
    zoom: 1;
}

.items {
    width: 100%;
    padding: var(--default-padding);
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto auto;
    gap: var(--default-gap);
    align-items: center;
}

@media only screen and (min-width: 700px) {
    .items {
        grid-template-columns: 2fr 2fr 1fr 1fr;
    }
}

.items:nth-child(even) {
    background: var(--very-light-grey-color);
}

.items:last-child {
    border-bottom-left-radius: var(--medium-radius);
    border-bottom-right-radius: var(--medium-radius);
}

.product-details-section, .prodTotal, .removeWrap {
    min-width: 0; /* This will prevent the items from shrinking too much */
}

.items .product-details-section {
    grid-column: 1;
    grid-row: 1;
}

.items .product-details-section .itemNumber {
    font-size: var(--font-extra-small);
    color: var(--grey-color);
    margin-bottom: .5em;
}

.items .product-details-section .itemImg {
    width: 100px;
    object-fit: cover;
    display: inline;
    padding-right: var(--default-padding);
}

.items .quantity-price-section {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items .quantity-price-section div {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: max-content;
}

.items .quantity-price-section .stockStatus {
    color: var(--checkout-green-color);
    font-weight: bold;
    padding: var(--extra-small-padding) 0 0 var(--small-padding);
    text-transform: uppercase;
    text-align: center;
}

.items .quantity-price-section p.stockStatus.out {
    color: var(--button-orange-color);
}

.items .quantity-price-section input.qty {
    width: 45px;
    text-align: center;
    font-size: var(--font-small);
    padding: var(--extra-small-padding);
    margin: 0 var(--default-margin) 0 0;
}

.items .removeWrap {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items .product-title-section {
    grid-column: 1 / span 3;
    grid-row: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.items .product-title-section h3 a {
    font-size: calc(var(--font-small) * 1.15);
    color: var(--mid-blue-color);
    font-weight: bold;
    letter-spacing: .025em;
    text-align: left;
}

@media only screen and (min-width: 700px) {
    .items .product-details-section {
        grid-column: 1
    }

    .items .quantity-price-section {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .items .prodTotal {
        grid-column: 3;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .items .product-title-section {
        grid-column: 1 / span 4;
    }

    .items .removeWrap {
        grid-column: 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.promoCode {
    border: var(--thick-border) solid var(--very-light-grey-color);
    float: left;
    width: 35%;
    margin-top: var(--default-margin);
    padding: var(--default-padding);
}

.promoCode label {
    display: block;
    width: 100%;
    font-style: italic;
    font-size: var(--font-default);
    margin-bottom: var(--large-margin);
    letter-spacing: -.025em;
}

.promoCode input {
    width: 85%;
    font-size: var(--font-small);
    padding: var(--small-padding);
    float: left;
    border: var(--thin-border) solid var(--very-light-grey-color);
}

.promoCode input:active,
.promoCode input:focus {
    outline: 0;
}

.promoCode a.btn {
    float: left;
    width: 15%;
    height: 100%;
    padding: var(--small-padding) 0;
    margin-top: var(--small-margin);
    margin-bottom: var(--default-margin);
    border-radius: 0 var(--large-radius) var(--large-radius) 0;
    text-align: center;
    border: var(--thick-border) solid var(--checkout-green-color);
}

.promoCode a.btn:hover {
    border: var(--thick-border) solid var(--button-orange-color);
    background: var(--button-orange-color);
}

.btn {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -.015em;
    padding: var(--small-padding) var(--default-padding);
    color: var(--white-color);
    background: var(--checkout-green-color);
    font-weight: bold;
    border-radius: calc(var(--medium-radius) * 5);
    float: right;
    text-align: right;
    transition: all .25s linear;
}

.btn:not(.prev):after {
    content: "\276f";
    padding: var(--small-padding);
    position: relative;
    right: 0;
    transition: all .15s linear;
}

.btn.prev:before {
    content: "\276e";
    padding: var(--small-padding);
    position: relative;
    left: 0;
    transition: all .15s linear;
}

.btn:hover,
.btn:focus,
.btn:active {
    background: var(--button-orange-color);
}

.btn:hover:after,
.btn:focus:after,
.btn:active:after {
    right: -10px;
}

.btn.prev:hover:before,
.btn.prev:focus:before,
.btn.prev:active:before {
    left: -10px;
}

.promoCode .btn {
    font-size: var(--font-extra-small);
    padding: var(--small-padding) var(--extra-large-padding);
}

.subtotal {
    float: right;
    width: 35%;
}

.subtotal .totalRow {
    padding: var(--small-padding) 0;
    text-align: right;
}

.subtotal .totalRow.final {
    font-size: calc(var(--font-default) + 2px);
    font-weight: bold;
}

.subtotal .totalRow span {
    display: inline-block;
    padding: 0 0 0 var(--default-padding);
    text-align: right;
}

.subtotal .totalRow .label {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-extra-small);
    text-transform: uppercase;
    color: var(--grey-color)
}

.subtotal .totalRow .value {
    letter-spacing: -.025em;
    width: 35%;
}

@media only screen and (max-width: 700px) {
    .items .cartSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .items .cartSection.prodTotal {
        display: none;
    }

    .promoCode,
    .subtotal {
        width: 100%;
    }

    a.btn.continue {
        width: 100%;
        text-align: center;
    }
}