/* checkout container */
.checkout-container {
    width: 95%;
    place-self: center;
    margin: 20px auto;
    display: grid;
    grid-template-areas:
        "form progress"
        "form order-summary";
    grid-template-columns: 1fr 325px;
    grid-template-rows: 60px auto;
    height: 100%;
    gap: var(--default-gap);
}

/* On mobile, switch to a single column layout */
@media (max-width: 700px) {
    .checkout-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "progress"
            "order-summary"
            "form";
    }
}

.card-number {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: var(--default-gap);
}

#card-number-1 {
    max-width: 100%;
    grid-column: 1;
}

#card-number-2 {
    max-width: 100%;
    grid-column: 2;
}

#card-number-3 {
    max-width: 100%;
    grid-column: 3;
}

#card-number-4 {
    max-width: 100%;
    grid-column: 4;
}

.checkout-form-container {
    grid-area: form;
    width: 100%;
}

@media (min-width: 700px) {
    .checkout-form-container {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
}

fieldset {
    border: none;
    height: 100%;
    width: 100%;
}

.card {
    padding: var(--extra-large-padding);
    background-color: var(--very-light-grey-color);
    border-radius: var(--medium-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.checkout-form {
    width: 100%;
}

.checkout-form h3 {
    margin-bottom: var(--default-margin);
}

.checkout-form label {
    display: block;
}

.checkout-form .btn {
    display: block;
    margin-top: var(--default-margin);
}


/* Order Summary Styles */
.order-summary {
    grid-area: order-summary;
    width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: auto;
}

@media (max-width: 700px) {
    .order-summary {
        width: 100%;
    }
}

.order-item {
    padding: var(--small-padding);
    font-size: calc(var(--font-small) / 1.25);
    background-color: var(--light-grey-color);
    border-radius: var(--small-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--grey-color);
    margin-bottom: var(--default-margin);
}

.order-detail {
    font-size: calc(var(--font-small) / 1.25);
}

.order-total {
    border-top: var(--thin-border) solid var(--light-grey-color);
    padding: var(--extra-small-padding) 0;
    font-weight: bold;
    margin-top: var(--default-margin);
}

/* Progress Bar Styles */
.progress-wrapper {
    grid-area: progress;
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
}

.progress {
    text-align: center;
}

.progress .circle,
.progress .bar {
    display: inline-block;
    background: var(--white-color);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: var(--thin-border) solid var(--light-grey-color);
}

.progress .bar {
    position: relative;
    width: 60px;
    height: 6px;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

@media (max-width: 700px) {
    .progress .bar {
        width: 100px;
    }
}


.progress .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: var(--light-grey-color);
    font-size: 17px;
}

.progress .circle .title {
    color: var(--light-grey-color);
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
    background: var(--light-grey-color);
}

.progress .bar.active {
    background: linear-gradient(to right, var(--light-grey-color) 40%, var(--white-color) 60%);
}

.progress .circle.done .label {
    color: var(--white-color);
    background: var(--checkout-green-color);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}

.progress .circle.done .title {
    color: var(--grey-color);
}

.progress .circle.active .label {
    color: var(--white-color);
    background: var(--light-blue-color);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}

.progress .circle.active .title {
    color: var(--light-blue-color);
}

/* Confirmation Page Styles */
.confirmation-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.confirmation-detail {
    color: var(--grey-color);
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 10px;
    width: 100%;
}

.title {
    grid-column: 1;
}

.value {
    grid-column: 2;
}