* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.general-link {
    color: var(--mid-blue-color);
    text-decoration: none;
}

.general-link:hover {
    color: var(--dark-blue-color);
    text-decoration: underline;
}

.center {
    align-items: center;
    align-content: center;
}

.warning-text {
    color: var(--error-red-color);
    font-size: 0.6rem;
    border: 1px solid var(--error-red-color);
    border-radius: 0.2rem;
    padding: var(--extra-small-padding);
    margin-inline: var(--small-margin);
    background-color: #fbdada;
}

ul {
    list-style: none;
}

body {
    font-family: "Open Sans", serif;
    font-size: var(--font-small);
}

.hidden {
    display: none;
}

.desktop-only {
    display: none;
}

@media screen and (min-width: 885px) {
    .mobile-only {
        display: none;
    }
}

a {
    color: var(--white-color);
    text-decoration: none;
}

.standard-gap {
    gap: var(--default-gap);
}

.general-text {
    text-align: center;
    margin-top: calc(var(--large-margin) * 2);
    margin-bottom: calc(var(--large-margin) * 2);
}

.text-center {
    text-align: center;
}

.standard-link {
    color: var(--link-blue-color);
    text-decoration: underline;
}

/* Container styles */
.standard-container {
    margin: 0 auto;
    max-width: 80rem;
    padding: 0 var(--large-padding);
}

.general-heading {
    font-weight: 700;
    font-size: var(--font-large);
    color: var(--mid-blue-color);
    margin-bottom: var(--default-margin);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.align-start {
    align-items: flex-start;
}

@media (min-width: 700px) {
    .row {
        flex-direction: row;
    }
}

@media screen and (min-width: 885px) {
    .desktop-only {
        display: block;
    }

    .content-container {
        max-width: 960px;
        margin: 0 auto;
    }

    .desktop-nav ul {
        display: flex;
        gap: var(--large-gap);
    }
}

/* Reset padding and margin for the table head cells */
table, thead, th, td {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    border-spacing: 0; /* Ensure no spacing between cells */
    text-align: left; /* Align text as needed */
    border-collapse: collapse; /* Ensure borders collapse into each other */
}

/* If you have additional spacing between columns */
table {
    border-collapse: collapse; /* Ensure no extra spacing between cells */
    width: 100%; /* Ensure table takes full width */
}

table thead {
    text-align: center; /* Align text as needed */
    position: sticky; /* Ensure thead remains visible */
    display: table-header-group; /* Ensure thead remains visible */
}