.close-button {
    color: var(--mid-grey-color);
    float: right;
    font-size: calc(var(--font-large) + 3px);
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: var(--dark-grey-color);
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.modal-content {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--very-light-grey-color);
    padding: var(--large-padding);
    border: var(--thin-border) solid var(--mid-grey-color);
    width: 100%;
    max-width: 350px;
}

.modal-content.wide{
    max-width: 600px;
}

.modal-content.screen-center {
    margin: 15% auto;
}

.modal-text {
    margin: var(--default-margin) 0;
}

.confirm-button {
    padding: var(--small-padding) var(--default-padding);
    margin: var(--default-margin) 0;
    border: none;
    cursor: pointer;
    width: 100%;
}