.subscribe {
    margin: 0 auto;
    padding: 0 var(--large-padding);
    gap: var(--extra-large-gap);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    align-items: stretch;
    justify-content: center;
}
.alert {
    padding: 1rem;
    border: 1px solid;
    border-radius: 0.5rem;
    display: none;
    width: 100%;
}
.success {
    display: block;
    border-color: green;
    background-color: lightgreen;
    color: darkgreen;
}
.error {
    display: block;
    border-color: red;
    background-color: lightcoral;
    color: darkred;
}
.close-alert {
    float: right;
    cursor: pointer;
}