.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(155px, 2fr));
    place-items: center;
    justify-content: space-evenly;
    gap: var(--large-gap);
    margin: 0 var(--large-margin) 0 var(--large-margin);
    list-style: none;
}

.product-link {
    display: flex;
    padding: var(--small-padding);
    border: var(--thin-border) solid var(--light-grey-color);
    border-radius: var(--small-radius);
    justify-content: center;
    width: 155px;
    height: 250px;
}

@media screen and (min-width: 920px) {
    .product-link {
        width: 180px;
    }
}

.product-link:hover {
    box-shadow: 1px 1px 5px 0 rgba(255, 105, 12, 0.75);
}

.product-card {
    display: flex;
    place-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: var(--grey-color);
}

.product-card img {
    width: 125px;
    height: 125px;
    object-fit: cover;
}

.product-card .short-desc {
    color: var(--mid-blue-color);
    text-align: center;
    font-size: var(--font-small);
}

.price {
    margin-bottom: var(--default-margin);
    margin-top: var(--default-margin);
}

.product-card .price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

@media screen and (min-width: 885px) {
    .product-card .price {
        flex-direction: row;
    }
}

.product-card .price strong {
    font-size: calc(var(--font-default) + 4px);
}

.price-sale {
    color: var(--orange-color);
}

.price-main {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--default-gap);
}

.original-price-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 885px) {
    .original-price-group {
        flex-direction: row;
    }
}

.original-price-group .was-text {
    font-size: var(--font-extra-small);
    padding-right: calc(var(--extra-small-padding) - 1px);
    padding-left: calc(var(--extra-small-padding) - 1px);
}

@media screen and (min-width: 885px) {
    .original-price-group .was-text {
        padding-right: calc(var(--extra-small-padding) - 3px);
        padding-left: calc(var(--extra-small-padding) - 3px);
    }
}

.original-price-group del {
    text-decoration: line-through;
    font-size: var(--font-small);
}

/* product details styles */
.product img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 1rem;
}

/* Product page styles */
.product-details-info {
    flex: 2;
    padding-left: var(--large-padding);
}

.product-details-image {
    flex: 1;
}

.product-details-image img {
    max-width: 100%;
    height: auto;
    border-radius: var(--small-radius);
}

#quantity {
    max-width: 50px;
    text-align: center;
}

.quantity-selector {
    margin: var(--extra-large-margin) 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.quantity-selector label {
    margin-right: var(--default-margin);
}

.quantity-selector button {
    margin: var(--small-margin);
    place-content: center;
    place-items: center;
    place-self: center;
}