.search-logo-section {
    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
}

@media screen and (min-width: 885px) {
    .search-logo-section {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.search-form {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

#search-bar {
    border: var(--thin-border) solid var(--grey-color);
    color: var(--grey-color);
    width: 220px;
    height: 40px;
    border-radius: calc(var(--medium-radius) * 5);
    padding: 0 var(--large-padding);
    font-size: var(--font-small);
}

.search-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
    height: 40px;
    width: fit-content;
    margin-left: var(--small-gap);
    border-radius: calc(var(--medium-radius) * 5);
    background-color: var(--dark-blue-color);
    border: 0;
    padding: 0 var(--small-padding);
    cursor: pointer;
}

.search-button-group:hover {
    background-color: var(--mid-blue-color);
}

.search-button-group:hover #search-button,
.search-button-group:hover #voice-search-button {
    color: var(--very-light-blue-color);
    background-color: var(--mid-blue-color);
}

.search-button-group #search-button:hover,
.search-button-group #voice-search-button:hover {
    background-color: var(--dark-blue-color);
}

#search-button, #voice-search-button {
    position: relative;
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: var(--font-small);
    color: var(--white-color);
    background-color: var(--dark-blue-color);
    border: 0;
}

#voice-search-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    visibility: hidden;
    width: 200px;
    display: inline-block;
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    text-align: center;
    border-radius:var(--medium-radius);
    padding: var(--small-padding);
    position: absolute;
    z-index: 1;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}